src/main/java/com/esgis/venteapi/endpoints/GetProduitReponse.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/produits" targetNamespace="http://example.com/produits" elementFormDefault="qualified">

    <xs:element name="getProduitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProduitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produit" type="tns:produit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="produit">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nomProduit" type="xs:string"/>
            <xs:element name="codeProduit" type="xs:string"/>
            <!-- autres champs -->
        </xs:sequence>
    </xs:complexType>
</xs:schema>


<root>
    
</root>

